<div id="root" class="theme-react-app" data-section-id="{{ section.id }}"></div>

{% schema %}
{
  "name": "React application shell",
  "settings": [],
  "presets": [
    {
      "name": "Homepage app"
    }
  ]
}
{% endschema %}
